* { box-sizing: border-box; }

body { background-color: #f7f7f7; }

.container {
	margin: auto 80px;
	font-family: 'Open Sans', sans-serif;
	}

/* --- header --- */
.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {}
.header__title {}

/* --- nav --- */
.nav {}
.nav__list {
	display: flex;
    margin: 0 20px;
}
.nav__item {}
.nav__link {margin: 0 10px;}

/* --- main --- */
.main {}
.main__title {
	text-align: center;
    margin: 40px auto;
}
main__container { margin: 20px auto; }
main__redirection {
	display: flex;
    flex-direction: column;
}
.main__research {
	display: flex;
    justify-content: center;
}
.main__signup {}
.main__list {}
.main__item {}
.main__text {}
.main__subcontainer {
    display: flex;
    flex-direction: column;
}
.main__link { display: contents; }
.main__submit {
    height: 40px;
    margin: 10px 0;
}

/* --- form --- */
.form {
	display: grid;
    grid-template: repeat(2, 1fr) / auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.form__filter {    
	display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-gap: 20px;
}
.form__fields {
	display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form__send {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}
.form__remember {
	display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.form__remember-check {}
.form__checkbox {}
.form__label {margin-bottom: 7px;}
.form__input {height: 30px;}
.form__submit {
	width: 460px;
	height: 40px;
    margin: 20px 0;
}
.form__message {}
.form__link {
	display: flex;
    justify-content: center;
}

.form__fieldset {}
.form__text {}
.form__error{}
.form__select {height: 30px;}
.form__option {}
	
/* --- announce --- */
.announce {
	display: grid;
    justify-content: center;
    grid-template: repeat(2, 2fr) / repeat(2, 2fr);
    grid-gap: 10px;
}
.announce__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: white;
}
.annouce__image {
	width: 160px;
    height: 160px;
}
.announce__description {width: 240px;}
.announce__link {}
.announce__title {}
.announce__price {}
.announce__deadline {}
.announce__seller {}

/* --- footer --- */

.footer {margin-top: 100px;}
	.footer__container {}
		.footer__title {}
			.footer__list {}
				.footer__item {}
					.footer__text {}



