* { box-sizing: border-box; }

body {background-color: #f7f7f7;}

.container {
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: auto 80px;
	font-family: 'Open Sans', sans-serif;
	}

/* --- header --- */
.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
}
.header__link {}
.header__title {}

/* --- nav --- */
.nav {font-weight: 700;}
.nav__list {
    width: max-content;
	display: flex;
    margin: 0 20px;
}
.nav__item {}
.nav__home {
	padding: 8px;
    border: 1px solid #2E6FF2;
    border-radius: 4px;
    text-decoration: none;
    color: #2E6FF2;
}
.nav__home:hover {
	border: 1px solid #0528F2;
	color: #0528F2;
}
.nav__home {
	padding: 8px;
    border: 1px solid #2E6FF2;
    border-radius: 4px;
    text-decoration: none;
    color: #2E6FF2;
}
.nav__link {
	text-decoration: none;
    margin: 0 10px;
    color: #0528F2;
}

/* --- main --- */
.main {
	min-width: 460px;
    display: flex;
    flex-direction: column;
}
.main__title {
	text-align: center;
    margin: 20px auto;
    font-weight: 700;
}
main__container { margin: 20px auto; }
main__redirection {
	display: flex;
    flex-direction: column;
}
.main__research {
	display: flex;
    justify-content: center;
}
.main__signup {}
.main__list {
	display: flex;
    flex-direction: column;
    margin: 40px auto;
}
.main__item {}
.main__text {}
.main__subcontainer {
    display: flex;
    flex-direction: column;
}
.main__link { display: contents; }
.main__submit {
    height: 40px;
    margin: 10px 0;
	border: none;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #2E6FF2;
    color: whitesmoke;
}
.main__submit:hover {
	background-color: #0528F2;
    color: whitesmoke;
}

/* --- form --- */
.form {
	display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.form__filter {    
	display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-gap: 20px;
}
.form__fields {
	display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form__send {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}
.form__remember {
	display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.form__remember-check {}
.form__checkbox {}
.form__label {margin-bottom: 7px;}
.form__input {
	height: 30px;
	font-size: 14px;
    font-style: italic;
    font-weight: 400;	
}
.form__input:hover {
	border: 1px solid #F27D16;
    border-radius: 2px;
}
.form__submit {
	width: 460px;
	height: 40px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #2E6FF2;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    color: whitesmoke;
}
.form__submit:hover {
	box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
	background-color : #0528F2;;
	color: whitesmoke;
}

.form__message {
	margin: 0 auto 40px auto;
    font-weight: 700;
    color: #F27D16;
}
.form__link {
	display: flex;
    justify-content: center;
    text-decoration : none;
}

.form__fieldset {}
.form__text {}
.form__error{}
.form__select {height: 30px;}
.form__option {}
	
/* --- announce --- */
.announce {
	display: grid;
    justify-content: center;
    grid-template: repeat(2, 2fr) / repeat(1, 2fr);
    grid-gap: 10px;
}
.announce__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.announce__image {
	width: 240px;
    height: 160px;
    background-color: #BFBDBA;
}
.announce__description {width: 240px;}
.announce__link {
	text-decoration: none;
    font-weight: 700;
    color: #2E6FF2;
}
.announce__link:hover {
    color: #F27D16;
}
.announce__title {font-weight: 700;}
.announce__price {}
.announce__deadline {}
.announce__seller {}

/* --- footer --- */

.footer {
	margin: 50px auto;
    min-width: 460px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}
	.footer__container {
		display: flex;
    	justify-content: space-between;
	}
		.footer__title {}
			.footer__list {display: flex;}
				.footer__item {
					margin: auto 20px;
				}
					.footer__text {}



